/*-----Header-----*/
header{
    background-image: url(../Images/carrots.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 200px;
    color: navajowhite;
    border: 1px solid blue;
}


/*-----Content-----*/
#content{
    float: left;
    width: 80%;
    margin-right: 15px;
    border: 1px solid grey;
    font-family: Verdana;
    background-color: black;
    
}

#content p{
    color: white;
    text-align: left;
}

/*-----Aside-----*/
aside{
    border: .5px solid yellow;
    width: 18.5%;
    float: right;
    font-family: Verdana;
    background-color: black;
}

aside ol li{
    list-style-type: none;
    font-size: 0.8em;
    color: white;
}

aside ul li a{
    color: blue;
    text-decoration: none;
}

aside ul li:hover{
    background-color: rebeccapurple;
}

#bigPic{
    width: 100%;
}




/*-----Nav-----*/
nav{
    background-color: #B2B2B2;
    padding: 5px;
    font-family: Verdana;
}

nav ul{
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-color: black;
}

nav ul li{
    list-style-type: none;
    background-color: lightgray;
    display: inline;
    margin: 2px;
    border-spacing: inherit;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li:hover{
    background-color: green;
}


/*-----h1-----*/
h1{
    font-family: Verdana;
}


/*-----h2-----*/
h2{
    font-family: Verdana;
    color: white;
    text-align: center;
}

/*-----Column-----*/
.col_detail{
    column-count: 2;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px;
    font-family: Verdana;
    color: white;
    float: left;
    width: 80.5%;
}

.col_detail h3{
    font-family: Verdana;
    color: white;
    
}

 .col_title h2{
    font-family: Verdana;
    color: white;
    text-align: center;
    float: left;
    width: 80%;
}

.col_detail staff_pics1{
    width: 100%;
}

.col_detail staff_pics2{
    width: 100%;
}

.col_detail staff_pics3{
    width: 100%;
}


/*-----Footer-----*/
footer{
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    text-align: center;
    font-family: Verdana;
}

footer ul{
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-color: black;
}

footer ul li{
    list-style-type: none;
    display: inline;
    margin: 2px;
    border-spacing: inherit;
}

footer ul li:hover{
    background-color: green;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

footer p{
    color: white;
    text-decoration: underline;
}
 



/* Menu */
#menu_promise{
    float: left;
    width: 100%;
    color: white;
    font-family: Verdana;
    background-color: black;
    border: 1px solid white;
}

/* Starter Menu */
#menu_content{
    border: 1px solid grey;
    font-family: Verdana;
    background-color: black;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

#menu_content h2{
    font-family: Verdana;
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}
    
#starter_menu{
   border: 1px solid grey;
}

#starter_menu p{
     color: white;
    text-align: left;
}

#starter_menu h3{
    font-family: Verdana;
    color: white;
    text-align: center;
}

#starter_menu h2{
    font-family: Verdana;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

/* Main Menu */

#main_menu{
    border: 1px solid grey;
}

#main_menu p{
     color: white;
    text-align: left;
}

#main_menu h3{
    font-family: Verdana;
    color: white;
    text-align: center;
}

#main_menu h2{
    font-family: Verdana;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

#dessert_menu{
    border: 1px solid grey;
}

#dessert_menu p{
     color: white;
    text-align: left;
}

#dessert_menu h3{
    font-family: Verdana;
    color: white;
    text-align: center;
}

#dessert_menu h2{
    font-family: Verdana;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}


/* Manager */
.manager{
    padding: 2px;
    font-family: Verdana;
    color: white;
    border: 1px solid grey;
    width: 80.5%;
    text-align: left;
}

#manager_pic{
    float: right;
    width: 15.5%;
}

.manager p{
    
}

.manager h3{
    font-family: Verdana;
    color: white;
    width: 80.5%;
}

.manager_title h2{
    font-family: Verdana;
    color: white;
    text-align: center;
    float: left;
    width: 80.5%;
}

.kitchen_staff{
    padding: 2px;
    font-family: Verdana;
    color: white;
    border: 1px solid grey;
    width: 80.5%
}


#staff_pic1{
    width: 32.5%;
}

#staff_pic2{
    width: 32.5%;
}

#staff_pic3{
    width: 32.5%;
}


/* Video */
#video{
    font-family: Verdana;
    color: white;
    padding: 2px;
}

#video h1{
    font-family: Verdana;
    color: white;
    text-align: left;
}

#video{
    float: left;
    padding: 15px;
    width: 50%;
    text-align: center;
        
}

/* Chocolate */
#choc_column{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 50px;
    padding: 2px;
    font-family: Verdana;
    color: white;
    float: left;
    width: 80.5%;
}

#choc_column h3{
    color: black;
    font-size: 0px;
}


#choc_title h2{
    font-family: Verdana;
    color: white;
    text-align: left;
    float: left;
    width: 100%;
}

#choc_pic{
    float: left;
    padding: 2px;
    width: 19.5%;
}

#choc_about h2{
    font-family: Verdana;
    color: white;
    text-align: left;
    float: left;
    width: 100%;
}
#choc_about{
    float: left;
    padding: 2px;
    text-align: left;
    width: 100%;
    font-family: Verdana;
    color: white;
}

/* Sounds of Food */
.backgroundImageB{
    background-image: url(../Images/bacon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border: 3px solid black;
    
}

.col_article{
    column-count: 3;
    column-rule: 1px solid white;
    column-gap: 70px;
    padding: 2px;
    font-family: Verdana;
    color: white;
    float: left;
    width: 100%;
    height: 100%;
}

.col_article h2{
    color: black;
}

.col_article h3{
    font-size: 0px;
}


.backgroundImageC{
    background-image: url(../Images/carrots.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border: 3px solid black;
    
    
   
    
}

.backgroundImageE{
    background-image: url(../Images/eggs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    border: 3px solid black;
    
    
}


    
    